{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/pick_a_GuangDong_zhibao'>
<table>
<th colspan="2">请选取全国数据指标条件：</th>
<tr><td>全国数据指标: </td><td>
  <select name='user_GuangDong_zhibao'>
  {% for item in the_list_items %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
<tr><td>所查地区: </td><td>
  <select name='user_GuangDong_place'>
  {% for item in the_province_list %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
<tr><td>所查时间: </td><td>
<select name='user_GuangDong_zh_year'>
<option value="2015">2015</option>
<option value="2014">2014</option>
<option value="2013">2013</option>
<option value="2012">2012</option>
<option value="2011">2011</option>
<option value="2010">2010</option>
<option value="2009">2009</option>
<option value="2008">2008</option>
<option value="2007">2007</option>
<option value="2006">2006</option>
</select>
</td></tr>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搞吧！' type='SUBMIT'></p>
</form>

{% endblock %}
