{% extends 'base.html' %}

{% block body %}
<br><br><br><br><br><br><br><br><br>
<h1 align="center" >国家数据指标选项</h1>
<br/>
<form method='POST' action='/content'>
<table align="center">
	<tr>
		<td><select name="data">
<option value="A020101">地区生产总值</option>
<option value="A0G0J01">互联网上网人数（万人）</option>
<option value="A0G0J02">域名数（万个）</option>
<option value="A0G0J03">网站数（万个）</option>
<option value="A0G0J04">网页数（万个）</option>
<option value="A0G0J05">互联网宽带接入端口（万个）</option>
<option value="A0G0J06">互联网拨号用户（万个）</option>
<option value="A0G0J07">互联网宽带接入用户（万户）</option>
<option value="A0G0J08">城市宽带接入用户（万户）</option>
<option value="A0G0J08">农村宽带接入用户（万户）</option>
<option value="A030101">年末常住人口（万人）</option>
</select> <input value='查询' type='SUBMIT' ></td>
<tr><td>颜色：</td><td><input name='usear_color' type='color'></td></tr>	
	</tr>
</table>

</form>

{% endblock %}
